{% extends 'base.html' %}
{% block content %}
<title>Grades Sheet</title>
{% if grades %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="btn btn-outline-dark" type="button" href="{{ url_for('grades_sheet') }}">Back</a>
          <a class="btn btn-secondary me-md-2" type="button" href="{{ url_for('index') }}">Home</a>
        </div>
    <h1><u>Your grades are:</u></h1>
    <ul>
      {% for grade in grades %} <! Prints the student's header: ID and name>
        <li><h5><u>{{grade[1]}}</u></h5></li>
        {% for item in range(0,4) %} <! Prints the student's details: birth date, email, address and major>
          <strong> {{grade_columns[item]}}:</strong> {{grade[item +2]}} </br>
        {% endfor %}
      {% endfor %}
    </ul>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-secondary" type="button" href="{{ url_for('grades_sheet') }}">Back</a>
        </div>
    </br>
{% else %}
<center>
    <h1>Grades Sheet:</h1>
    <h3>Please Enter Your Details:</h3>
    <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div align="left" class="col-md-6">
                <!--The label from the GradesForm class-->
                {{ form.student_id.label(class="form-label") }}
                <!--The field from the GradesForm class-->
                {{ form.student_id(class="form-control") }}
            </div>
            </br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </center>
{% endif %}

{% endblock %}
