{% extends 'base.html' %}
{% block content %}
<title>Student Submit</title>
<center xmlns:margin-right="http://www.w3.org/1999/xhtml">
{% if student_id %}
    <h1><u>Thanks for signing up, {{first_name}} {{last_name}}!</u></h1>
    <p>Your Details:</p>
    <p><strong><u>ID:</u></strong> {{student_id}}</p>
    <p><strong><u>Birth Date:</u></strong> {{birth_date}}</p>
    <p><strong><u>Email:</u></strong> {{email}}</p>
    <p><strong><u>Address:</u></strong> {{address}}</p>
    <p><strong><u>Major:</u></strong> {{major}}</p>
{% else %}
    <h1>You Can Sign Up Here!</h1>
    <h2>Please Enter Your Details:</h2>
    <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div align="left" class="col-md-6">
                <!--The label from the StudentForm class-->
                {{ form.student_id.label(class="form-label") }}
                <!--The field from the StudentForm class-->
                {{ form.student_id(class="form-control") }}
            </div>
            <div align="left" class="col-md-6">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div align="left" class="col-md-6">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control") }}
            </div>
            <div align="left" class="col-md-6">
                {{ form.birth_date.label(class="form-label") }}
                {{ form.birth_date(class="form-control") }}
            </div>
            <div align="left" class="col-md-6">
                {{ form.email.label(class="form-floating-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div align="left" class="col-md-6">
                {{ form.address.label(class="form-label") }}
                {{ form.address(class="form-control") }}
            </div>
            <div align="left" class="col-md-6">
                {{ form.major.label(class="form-label") }}
                {{ form.major(class="form-control") }}
            </div>
            </br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
{% endif %}
</center>
{% endblock %}